@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

html {
    font-size: 16px;
    font-family: 'montserrat';
}

body {
    font-family: 'montserrat';

    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      /* button style */
      .swiper-pagination-bullet {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        margin: 0 10px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #fff;
        cursor: pointer;
        transition: 0.3s;
      }
      .swiper-pagination-bullet span {
        color: #2699fb;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      /* button circle */
      .progress {
        transform: rotate(-90deg);
        height: 41px;
        min-width: 42px;
        background-color: unset;
      }
      .circle-origin {
        fill: transparent;
        stroke: #2699fb;
        stroke-width: 2;
        stroke-linecap: round;
        position: relative;
        z-index: 9999999;
        stroke-dasharray: 125.664px;
        stroke-dashoffset: 125.664px;
      }
      
      .swiper-pagination-bullet-active .circle-origin {
        animation: progress 3s;
      }
      
      @keyframes progress {
        0% {
          stroke-dashoffset: 125.664px;
        }
      
        90% {
          stroke-dashoffset: 0;
        }
      
        100% {
          stroke-dashoffset: -125.664px;
        }
      }
      
}